/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  columns: black;
}
img{
  max-width: 100%;
  height: auto;
}
.header{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding-bottom: 20px ;
  z-index: 999;
}
.header_active{
  background: #0E1D28;
}
.wrapper{
  max-width: 1060px;
  margin: 0 auto;

}
.wrapper-full{
  max-width: 1262px;
  margin: 0 auto;
}
.section__title{
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section__title::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color:#006DFE ;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list{
  display: flex;
  flex-wrap: wrap;
}
.header__item{
  margin-right: 82px;
}
.header__item::last-child{
  margin-right: 0px;
}
.header__link{
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
  opacity: .75;

}


/*************/
.intro{
  height: 100vh;
  background: url(../img/Hero.jpg) no-repeat center;
  background-size: cover ;
  padding-top: 263px;
  padding-bottom: 223px;
}
.intro__title{
  max-width:619px ;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}
.intro__subtitle{
  max-width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;

}
.search-form__info{
  display: flex;
  flex-wrap: wrap;
}
.search-form__field{
   width: 297px;
  background-color: transparent;
  background: url(../img/Oval.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom:  2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.search-form__submit{
  padding: 15px 39px ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  background: #1B7DFF;
  border: 0;
  color: white;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
  background: #0e66da;
}
/*****/
.benefits{
  margin-bottom: 131px;
}
.benefits__wrap{
  max-width: 1260px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 99px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #FFFFFF;
}
.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits__card{
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits__card-img{
  max-width: 66px;
  margin-bottom: 37px;
}
.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefits__card-desc{
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits__card-more{
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/strel.svg) no-repeat 95% center;
  transition: .2s all;
}
.benefits__card-more:hover, .benefits__card-more:focus{
  background: url(../img/strel.svg) no-repeat right center;
}

/*******/

.places{
  margin-bottom: 131px;
}
.places__caption{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px; 
}

.places__title{
margin-right: 15px;
}
.places__view-all{
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/strel.svg) no-repeat right center;
  
}
.places__view-all:hover, .places__view-all:focus{
  opacity: 0.65;
}

.places__cards{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-gap: 10px;
}

.places__card{
  position: relative;
  overflow: hidden;
}
.places__card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color:rgba(21, 24, 36, 0.4); 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places__card:hover .places__card-img{
  transform: scale(1.05);
}
.places__card-title{
 font-size: 50px;
 line-height: 60px;
 color: white;
 position: absolute; 
 bottom: 27px;
 left: 20px;
}
.places__card-size-lg{
  grid-column: span 3;
}
.places__card-size-sm{
  grid-column: span 2;
}
.places__card-img{
  width: 100%;
  transition: .015 all;
}
.places__card-img-size-lg{
   height: 354px;
  object-fit: cover;
}
.places__card-img-size-lg{
   height: 252px;
  object-fit: cover;
}
.places__card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

}
/**********/
.tours{
  margin-bottom: 139px;
}
.tours__tour{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour__info{
  padding-left: 45px;
}
.tour-title{
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour-desc{

font-size: 16px;
line-height: 24px;
margin-bottom: 58px;
}
.tour-link{
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/strel.svg) no-repeat right center;
}

.tour-link:hover, .tour-link:focus{
  opacity: .65;
}
/*********/

.top{
  margin-bottom: 86px;
}
.top__cards{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 57px;
}
.top__card{
  display: flex;
  flex-direction: column;

}
.top__title{
  margin-bottom: 54px;
}
/********/
.top__card-img{
  position: relative;
  margin-bottom: 45px;
}

.top__card-stat{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;

}
.top__card-title{
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 0 0 ;
}
.top__card-likes{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/heart.svg) no-repeat right ;
margin-right: 14px;
}
.top__card-comments{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/comment.svg) no-repeat right ;
}
.top__card-desc{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
 
}
.top__card-link{
  width: 118px;
   padding: 12px 19px;
   background: #006DFE;
   text-decoration: none;
   color: white;
   font-size: 16px;
   margin: auto 0 0 0 ;

}
.top__card-link:hover, .top__card-link:focus, .top__card-link:active{
   background: #0e66da;
}
/******/

.videos{
  width: 100%;
}
.videos__wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

}
.video__item{
  padding-top: 56.25%;
}
.video__element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*******/
.footer{
  background: #0E1D28;
  padding: 119px 0px;
}
.footer__item{
  display: flex;
  flex-wrap: wrap;

}
.footer__logo{
  width: 50%;
}
.footer__nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__menu-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.footer__menu-link:hover, .footer__menu-link:focus{
  opacity: 0.65;
}